<div class="row header">
    <div class="col-sm-12 col-md-4">
        <span class="header-title">Test detail</span>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="header-controls">
            <button class="btn btn-default" ng-click="vm.editTest()">
                <span class="pficon pficon-edit" aria-hidden="true"></span> Edit
            </button>
            <button class="btn btn-default" ng-click="vm.removeTest()">
                <span class="pficon pficon-delete" aria-hidden="true"></span> Remove
            </button>
            <button class="btn btn-default" ng-click="vm.createTestExecution()">
                <span class="pficon-add-circle-o" aria-hidden="true"></span> New test execution
            </button>
            <button class="btn btn-default" ng-click="vm.showTestExecutions()">
                <span class="fa fa-list" aria-hidden="true"></span> Show test executions
            </button>
            <button ng-disabled="!vm.alertButtonEnabled" ng-show="!vm.isUserAlertsSubscriber" class="btn btn-default" ng-click="vm.subscribeAlerts()">
                <span class="fa fa-bell-o" aria-hidden="true"></span> Subscribe to alerts
            </button>
            <button ng-disabled="!vm.alertButtonEnabled" ng-show="vm.isUserAlertsSubscriber" class="btn btn-danger" ng-click="vm.unsubscribeAlerts()">
                <span class="fa fa-bell-slash-o" aria-hidden="true"></span> Unsubscribe from alerts
            </button>
        </div>
    </div>
</div>

<div class="row detail-list">
    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Name</div>
        <div class="col-xs-10 col-lg-11 item-value">{{vm.test.name}}</div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">UID</div>
        <div class="col-xs-10 col-lg-11 item-value">{{vm.test.uid}}</div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Group</div>
        <div class="col-xs-10 col-lg-11 item-value">{{vm.test.group.name}}</div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Description</div>
        <div class="col-xs-10 col-lg-11 item-value">
            <p ng-bind-html="vm.test.description"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 detail-tabs">
        <uib-tabset>
            <!-- metrics -->
            <uib-tab>
                <uib-tab-heading>
                    <i class="fa fa-bar-chart"></i> Metrics
                </uib-tab-heading>
                <metrics-table-view
                        metrics="vm.test.metrics"
                        test-id="vm.test.id"
                        on-update="vm.updateDetail()">
                </metrics-table-view>
            </uib-tab>
            <!-- alerts-->
            <uib-tab>
                <uib-tab-heading>
                    <i class="fa fa-bullhorn"></i> Alerts
                </uib-tab-heading>
                <alerts-table-view
                        alerts="vm.test.alerts"
                        test-metrics="vm.test.metrics"
                        test-id="vm.test.id"
                        on-update="vm.updateDetail()">
                </alerts-table-view>
            </uib-tab>
        </uib-tabset>
    </div>
</div>