<div class="row header">
    <div class="col-sm-12 col-md-4">
        <h1>Test detail</h1>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="pull-right header-controls">
            <button class="btn btn-default" ng-click="vm.editTest()">
                <span class="pficon pficon-edit" aria-hidden="true"></span> Edit
            </button>
            <button class="btn btn-default" ng-click="vm.createTestExecution()">
                <span class="pficon-add-circle-o" aria-hidden="true"></span> Create test execution
            </button>
            <button class="btn btn-default" ng-click="vm.showTestExecutions()">
                <span class="fa fa-list" aria-hidden="true"></span> Show test executions
            </button>
            <button ng-disabled="!vm.alertButtonEnabled" ng-show="!vm.isUserAlertsSubscriber" class="btn btn-default" ng-click="vm.subscribeAlerts()">
                <span class="fa fa-bell-o" aria-hidden="true"></span> Subscribe to alerts
            </button>
            <button ng-disabled="!vm.alertButtonEnabled" ng-show="vm.isUserAlertsSubscriber" class="btn btn-danger" ng-click="vm.unsubscribeAlerts()">
                <span class="fa fa-bell-slash-o" aria-hidden="true"></span> Unsubscribe from alerts
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="test-detail-info">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{vm.test.name}}</dd>

                <dt>UID</dt>
                <dd>{{vm.test.uid}}</dd>

                <dt>Group</dt>
                <dd>{{vm.test.group.name}}</dd>

                <dt>Description</dt>
                <dd ng-bind-html="vm.test.description"></dd>
            </dl>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-metrics">
            <div class="panel-heading">
                <h3 class="panel-title">Metrics</h3>
                <a ng-click="vm.addMetric()" class="btn btn-primary panel-btn-action">Add metric</a>
            </div>
            <div class="panel-body">
                <metric-list-view items="vm.test.metrics" test-id="vm.test.id" on-update-list="vm.updateDetail()"></metric-list-view>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-alerts">
            <div class="panel-heading">
                <h3 class="panel-title">Alerts</h3>
                <a ng-click="vm.addAlert()" class="btn btn-primary panel-btn-action">Add alert</a>
            </div>
            <div class="panel-body">
                <alert-list-view items="vm.test.alerts" test-metrics="vm.test.metrics" on-update-list="vm.updateDetail()"></alert-list-view>
            </div>
        </div>
    </div>
</div>
