<h3>{{vm.metricName}} &#8211; metric</h3>
<pagination total-items="vm.executionValuesGroup.values.length"
            ng-model="vm.currentPage"
            items-per-page="vm.pageSize"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            max-size="7">
</pagination>
<table class="table table-hover table-bordered pr-table">
    <thead>
        <tr>
            <th rowspan="2">Value</th>
            <th ng-if="vm.executionValuesGroup.parameterNames.length > 0" colspan="{{vm.executionValuesGroup.parameterNames.length}}">X-axis value</th>
            <th rowspan="2" class="btn-new-item">Actions
                <button ng-click="vm.addValue()" class="btn btn-primary">
                    <span class="pficon-add-circle-o" aria-hidden="true"></span> New value
                </button>
            </th>
        </tr>
        <tr ng-if="vm.executionValuesGroup.parameterNames.length > 0">
            <th ng-repeat="parameterName in vm.executionValuesGroup.parameterNames">{{parameterName}}
                <a ng-click="vm.showChart(parameterName)" class="cursor-pointer">[Show chart]</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="valueObject in vm.executionValuesGroup.values | limitTo:vm.pageSize:((vm.currentPage - 1) * vm.pageSize)">
            <td>{{valueObject.value}}</td>
            <td ng-repeat="parameterName in vm.executionValuesGroup.parameterNames">
                {{vm.getValueObjectParameter(parameterName, valueObject.parameters).value}}
            </td>
            <td>
                <a ng-click="vm.editValueObject($index)" class="cursor-pointer action-link">
                    <span class="pficon-edit" aria-hidden="true"></span>Edit
                </a>
                <a ng-click="vm.deleteValueObject($index)" class="cursor-pointer action-link">
                    <span class="pficon-delete" aria-hidden="true"></span>Delete
                </a>
            </td>
        </tr>
        <tr class="table-no-data" ng-show="!vm.executionValuesGroup.values || vm.executionValuesGroup.values.length == 0">
            <td colspan="{{2 + vm.executionValuesGroup.parameterNames.length}}">No values</td>
        </tr>
    </tbody>
</table>

