test-output
target
.settings
.classpath
.project
eclipse-formatter.xml
.idea
*.iml
web/node
web/node_modules
web/webapp_content/bower_components
web/webapp_content/vendor
web/src/main/webapp/app
web/src/main/webapp/index.html
web/src/main/webapp/vendor
web/src/main/webapp/bower_components
web/node
web/src/main/webapp/app
web/src/main/webapp/vendor