<table class="table table-hover table-bordered pr-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Actions
                <button ng-click="vm.addParameterAction()" class="btn btn-primary btn-new-item">
                    <span class="pficon-add-circle-o" aria-hidden="true"></span> New parameter
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="parameter in vm.parameters">
            <td>{{parameter.name}}</td>
            <td>{{parameter.value}}</td>
            <td>
                <button ng-click="vm.editParameterAction(parameter)" class="btn btn-default" title="Edit parameter">
                    <span class="pficon-edit" aria-hidden="true"></span> Edit
                </button>
                <button ng-click="vm.removeParameterAction(parameter)" class="btn btn-default" title="Remove parameter">
                    <span class="pficon-delete" aria-hidden="true"></span> Delete
                </button>
            </td>
        </tr>
        <tr class="table-no-data" ng-show="!vm.parameters || vm.parameters.length == 0">
            <td colspan="3">No parameters</td>
        </tr>
    </tbody>
</table>