<div class="row">
    <div class="col-md-12">
        <form role="form" name="testExecutionForm" ng-submit="vm.save(testExecutionForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="testExecutionName">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="testExecutionName" name="name" ng-model="vm.testExecution.name" class="form-control" pr-server-validation>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testExecutionTags">Tags</label>
                <div class="col-sm-10">
                    <tags-input id="testExecutionTags" ng-model="vm.tagsObject" name="tags" pr-server-validation
                                    replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testExecutionStarted">Started</label>
                <div class="col-sm-10">
                    <div id="testExecutionStarted" pf-datepicker options="vm.options" date="vm.testExecution.started" name="started"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Comment</label>
                <div class="col-sm-10">
                    <div class="wysiwyg-editor-wrap form-control-border">
                        <trix-editor ng-if="true" angular-trix ng-model="vm.testExecution.comment" name="comment" class="trix-content" pr-server-validation>
                        </trix-editor>
                    </div>
                </div>
            </div>

            <div class="form-group form-bottom">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="vm.onCancel()" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>