<div class="row">
    <div class="col-md-6">
        <form role="form" name="testForm" ng-submit="vm.save(testForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="testName">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="testName" ng-model="vm.test.name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="testUid">Uid:</label>
                <div class="col-sm-10">
                    <input type="text" id="testUid" ng-model="vm.test.uid" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testGroup">Group:</label>
                <div class="col-sm-10">
                    <select combo-box id="testGroup" ng-model="vm.test.group" class="form-control" ng-options="group.name for group in vm.groups track by group.id">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testMetrics">Metrics:</label>
                <div class="col-sm-10">
                    <select select-picker ng-model="vm.test.metrics" id="testMetrics"class="form-control" ng-options="metric.name for metric in vm.metrics track by metric.id" multiple>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <div class="editor-wrap">
                        <trix-editor angular-trix ng-model="vm.test.description" class="trix-content"></trix-editor>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">{{vm.submitButtonText}}</button>
                </div>
            </div>
        </form>
    </div>
</div>