<div class="row">
    <div class="col-md-12">
        <form role="form" name="valueForm" ng-submit="vm.save(valueForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="valueMetric">Metric</label>
                <div class="col-sm-9" id="valueMetric">
                    <ui-select ng-disabled="vm.disableMetric" ng-model="vm.selectedMetricName" name="metricName" title="Choose a metric">
                        <ui-select-match placeholder="Select or search a metric...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="metricName as metricName in vm.metricsName | filter: $select.search">
                            <span ng-bind-html="metricName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="valueObjectValue">Measured value</label>
                <div class="col-sm-9">
                    <input type="number" id="valueObjectValue" name="value" ng-model="vm.valueObject.value" class="form-control" pr-server-validation>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" ng-click="vm.addParameter()" class="btn btn-default pull-right">
                        <span class="pficon-add-circle-o" aria-hidden="true"></span> Add x-axis
                    </button>
                </div>
            </div>

            <div ng-show="vm.groupsParameters[vm.selectedMetricName].length > 0" class="form-group">
                <div class="col-xs-12">
                    <h4>X-axes</h4>
                </div>
            </div>

            <div class="form-group parameter-value" ng-repeat="parameter in vm.groupsParameters[vm.selectedMetricName]">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-3">
                    <input type="text" ng-model="parameter.name" class="form-control">
                </div>
                <label class="col-sm-2 control-label">Value</label>
                <div class="col-sm-3">
                    <input type="number" ng-model="parameter.value" class="form-control">
                </div>
                <div class="col-sm-2 remove-btn">
                    <a ng-click="vm.removeParameter($index)" class="btn btn-default">
                        <span class="pficon-delete" aria-hidden="true"></span> Remove
                    </a>
                </div>
            </div>

            <div class="form-group form-bottom">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="vm.onCancel()" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>