<div class="row">
    <div class="col-md-12">
        <form role="form" name="valueForm" ng-submit="vm.save(valueForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="valueMetric">Metric</label>
                <div class="col-sm-9" id="valueMetric">
                    <ui-select ng-disabled="vm.disableMetric" ng-model="vm.selectedMetricName" name="metricName" title="Choose a metric">
                        <ui-select-match placeholder="Select or search a metric...">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="metricName as metricName in vm.metricsName | filter: $select.search">
                            <span ng-bind-html="metricName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="valueObjectValue">Measured value</label>
                <div class="col-sm-9">
                    <input type="number" id="valueObjectValue" name="value" ng-model="vm.valueObject.value" class="form-control" pr-server-validation>
                </div>
            </div>

            <div class="form-group no-value-parameters">
                <div class="col-xs-12">
                    <h4>
                        Parameters
                        <span class="pficon pficon-help" tooltip-append-to-body="true" uib-tooltip="The value parameter
                        is required for multi-value results. It's used to determine the order of measured values and used
                         as x-axis in the line chart. The name of parameter is for example time, percent or iterations."></span>
                    </h4>
                    <p ng-show="vm.groupsParameters[vm.selectedMetricName] == undefined || vm.groupsParameters[vm.selectedMetricName].length == 0">No value parameters</p>
                </div>
            </div>

            <div class="form-group parameter-value" ng-repeat="parameter in vm.groupsParameters[vm.selectedMetricName]">
                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-4">
                    <input type="text" ng-model="parameter.name" class="form-control">
                </div>
                <label class="col-sm-1 control-label">Value</label>
                <div class="col-sm-4">
                    <input type="number" ng-model="parameter.value" class="form-control">
                </div>
                <div class="col-sm-2 remove-btn">
                    <a ng-click="vm.removeParameter($index)" class="btn btn-default">
                        <span class="pficon-delete" aria-hidden="true"></span> Remove
                    </a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" ng-click="vm.addParameter()" class="btn btn-default pull-right">
                        <span class="pficon-add-circle-o" aria-hidden="true"></span> Add parameter
                    </button>
                </div>
            </div>

            <div class="form-group form-bottom">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="vm.onCancel()" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>