<div pf-list-view
     config="vm.config"
     items="vm.items"
     action-buttons="vm.actionButtons"
     menu-actions="vm.menuActions">

    <div class="list-view-pf-description">
        <div class="list-group-item-heading">
            {{item.name}}
        </div>
        <div class="list-group-item-text">
            {{item.uid}}
        </div>
    </div>

    <list-expanded-content>
        <div class="row">
            <div class="col-md-9">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{$parent.item.name}}</dd>
                    <dt>Uid</dt>
                    <dd>{{$parent.item.uid}}</dd>
                    <dt>Group</dt>
                    <dd>{{$parent.item.group.name}}</dd>
                    <dt>Description</dt>
                    <dd ng-bind-html="$parent.item.description"></dd>
                </dl>
            </div>
        </div>
    </list-expanded-content>
</div>