// ########################################################################################################## login page
div.login-pf {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1d1d1d;

  .app-title {
    font-variant: small-caps;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
}