// ################################################################################# test and test execution detail list
dl.dl-detail {
    margin-top: 20px;
    margin-bottom: 35px;

    dt{
        text-align: left;
        margin-left: 15px;
        width: 100px;
        line-height: 2.4em;
    }

    dd{
        margin-left: 120px;
        line-height: 2.4em;
    }
}

// ########################################################################################### form modal bottom buttons
div.form-group.form-bottom {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: right;

    .btn + .btn {
        margin-left: 5px;
    }
}

// ##################################################################################### test execution value parameters
div.value-parameters-header {
    margin-top: 50px;

    h4 {
        display: inline;
    }
}

// ########################################################################################################## data table
div.pr-table {
    margin-top: 20px;

    div.pr-table-title {

        h3 {
            display: inline-block;
            margin-bottom: 5px;
            margin-top: 0;
        }

        .btn-action {
            position: absolute;
            right: 20px;
            bottom: 5px;
        }
    }

    div.pr-table-content {

        tbody {

            td {
                vertical-align: bottom;
            }

            td button{
                font-size: smaller;

                span {
                    font-size:smaller;
                }
            }
        }
    }
}
