// ################################################################################# test and test execution detail list
div.detail-list {
    margin-top: 20px;

    div.detail-item {
        font-size: 13px;

        div.item-property {
            font-weight: bold;
            margin-bottom: 10px;
        }

        div.item-table-property {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
        }

        div.item-value {
            margin-bottom: 10px;
        }

        table.pr-table {
            margin-bottom: 30px;
        }
    }
}

// ########################################################################################### form modal bottom buttons
div.form-group.form-bottom {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: right;

    .btn + .btn {
        margin-left: 5px;
    }
}

// ##################################################################################### test execution value parameters
div.value-parameters-header {
    margin-top: 50px;

    h4 {
        display: inline;
    }
}

// ########################################################################################################## data table
table.pr-table {

    thead {

        button.btn-new-item {
            float: right;
            font-size: smaller;

            span {
                font-size:smaller;
            }
        }
    }

    tbody {

        td button{
            font-size: smaller;

            span {
                font-size:smaller;
            }
        }

        tr.table-no-data {
            color: lightgrey;

            td:hover {
                background-color: white;
                border-bottom: none;
            }
        }
    }
}
