// ################################################################################# test and test execution detail list
dl.dl-detail {
    margin-top: 20px;
    margin-bottom: 35px;

    dt{
        text-align: left;
        margin-left: 15px;
        width: 100px;
        line-height: 2.4em;
    }

    dd{
        margin-left: 120px;
        line-height: 2.4em;
    }
}

// ########################################################################################### form modal bottom buttons
div.form-group.form-bottom {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: right;

    .btn + .btn {
        margin-left: 5px;
    }
}

// ##################################################################################### test execution value parameters
div.value-parameters-header {
    margin-top: 50px;

    h4 {
        display: inline;
    }
}
