<div class="row">
    <div class="col-md-12">
        <form role="form" name="metricForm" ng-submit="vm.save(metricForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="metricName">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="metricName" ng-model="vm.metric.name" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="metricComparator">Comparator:</label>
                <div class="col-sm-10">
                    <select select-picker ng-model="vm.metric.comparator" id="metricComparator" class="form-control"
                            ng-options="comparator.name as comparator.text for comparator in vm.comparators">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <div class="editor-wrap">
                        <trix-editor ng-if="true" angular-trix ng-model="vm.metric.description" class="trix-content"></trix-editor>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">{{vm.submitButtonText}}</button>
                </div>
            </div>
        </form>
    </div>
</div>