<div class="modal-header">
    <button ng-click="vm.close()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Support</h3>
</div>
<div class="modal-body support-modal">
    <h3>Get help</h3>
    <p>
        Visit
        <a href="https://github.com/PerfCake/PerfRepo/wiki" target="_blank">PerfRepo Wiki</a> page.
    </p>

    <h3>Bug reporting</h3>
    <p>
        Submitting bugs and feature requests into the
        <a href="https://issues.jboss.org/browse/PERFREPO/" target="_blank">JIRA</a>.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
</div>