<div class="modal-header">
    <button ng-click="vm.cancel()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Are you sure?</h3>
</div>
<div class="modal-body">
    <span ng-if="vm.executionValuesGroup.valueType == 'SINGLE_VALUE'">
        Remove value of metric <strong>{{vm.executionValuesGroup.metricName}}</strong>?
    </span>
    <span ng-if="vm.executionValuesGroup.valueType == 'MULTI_VALUE'
              || vm.executionValuesGroup.valueType == 'INVALID_VALUE'">
        Remove all values of metric <strong>{{vm.executionValuesGroup.metricName}}</strong>?
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="vm.remove()">Remove</button>
</div>