<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<display-name>p-repo</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- new REST api -->
	<servlet>
		<servlet-name>ResteasyFrontApi</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>resteasy.servlet.mapping.prefix</param-name>
			<param-value>/rest/json</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.perfrepo.web.rest.RestApiApplication</param-value>
		</init-param>
		<init-param>
			<param-name>resteasy.providers</param-name>
			<param-value>
				org.perfrepo.web.rest.exception_mapper.NotFoundExceptionMapper,
				org.perfrepo.web.rest.exception_mapper.UnauthorizedExceptionMapper,
				org.perfrepo.web.rest.exception_mapper.ValidationExceptionMapper,
				org.perfrepo.web.rest.exception_mapper.AdapterExceptionMapper
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResteasyFrontApi</servlet-name>
		<url-pattern>/rest/json/*</url-pattern>
	</servlet-mapping>

	<!-- filters for new REST api -->
	<filter>
		<filter-name>RestApiAuthenticationFilter</filter-name>
		<filter-class>org.perfrepo.web.rest.security.RestApiAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestApiAuthenticationFilter</filter-name>
		<url-pattern>/rest/json/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Security -->
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>repo</web-resource-name>
			<description/>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description/>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	-->
	<!--Exclude css and images here -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Exclude from Security</web-resource-name>
			<url-pattern>/resources/images/*</url-pattern>
			<!-- No security for images -->
			<url-pattern>/resources/css/*</url-pattern>
			<!-- No security for css -->
			<url-pattern>/resources/font/*</url-pattern>
			<url-pattern>/resources/js/*</url-pattern>
			<url-pattern>/org.richfaces.resources/*</url-pattern>
			<url-pattern>/javax.faces.resource/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- security for new REST api -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Rest api</web-resource-name>
			<description>Web resources for REST api</description>
			<url-pattern>/rest/json/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public Report</web-resource-name>
			<description>Reports with public access</description>
			<url-pattern>/reports/metric/*</url-pattern>
			<url-pattern>/reports/testGroupReport/*</url-pattern>
			<url-pattern>/reports/tableComparisonReport/*</url-pattern>
			<url-pattern>/reports/boxplot/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-role>
		<description/>
		<role-name>*</role-name>
	</security-role>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

</web-app>