<div pf-list-view
     config="vm.config"
     items="vm.items"
     action-buttons="vm.actionButtons"
     menu-actions="vm.menuActions"
     class="test-list">

    <div class="list-view-pf-description">
        <div class="list-group-item-heading">
            <a uib-tooltip="Name" ui-sref="app.testDetail({id: item.id})">{{item.name}}</a>
        </div>
        <div class="list-group-item-text">
            <span uib-tooltip="UID">{{item.uid}}</span>
        </div>
    </div>
    <div class="list-view-pf-additional-info">
        <div class="list-view-pf-additional-info-item">
            <span uib-tooltip="Group">{{item.group.name}}</span>
        </div>
    </div>

    <list-expanded-content>
        <test-list-extended-content item="$parent.item">
        </test-list-extended-content>
    </list-expanded-content>
</div>