.content-container {
    padding-top: 40px;
}

trix-editor {
    border-radius: 0;
    background-color: white;
}

trix-toolbar .button_group {
    border-radius: 0;
    border-bottom: 0;
    margin: 0 10px 0px 0;
}

trix-toolbar .button_group button {
    border-color: #bbb;
    height: 25px;
}

/* TODO */
.editor-wrap {
    border: 1px solid #bbb;
    padding: 3px;
    background-color: #f8f8f8;
}

.page-limit {
    width: 50px !important;
}

.login-pf {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1d1d1d;
}

.app-title {
    font-variant: small-caps;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* tags input */
tags-input .tags {
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

tags-input .tags .input {
    height: 20px;
}

tags-input .tags .tag-item {
    background: #00659c;
    border: none;
    border-radius: 0;
    color: white;
    padding: .2em .6em .3em;
    height: 20px;
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}

tags-input .tags .tag-item .remove-button {
    font-weight: normal;
    color: white;
}

*::-webkit-input-placeholder {
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*::-moz-placeholder {
    /* FF 19+ */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}