.navbar-pf-vertical {
    border-top: 2px solid #1d1d1d;
}

#ngProgress {
    box-shadow: none;
}

.pagination>li>a {
    cursor: pointer;
}

.content-container {
    padding-top: 40px;
}

.header {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px #ddd solid;
}

.header-controls {
    margin-top: 20px;
    margin-bottom: 10px;
}

trix-editor {
    border-radius: 0;
    background-color: white;
}

trix-toolbar .button_group {
    border-radius: 0;
    border-bottom: 0;
    margin: 0 10px 0px 0;
}

trix-toolbar .button_group button {
    border-color: #bbb;
    height: 20px;
    width: 25px;
}

trix-toolbar .button_group button::before {
    background-size: 90% 90%;
}

pr-search-pagination {
    display: flex;
}

pr-search-pagination {
    float: right;
}

hr.pagination {
    border-top: 1px solid #d1d1d1;
    margin-top: 0;
}

.page-limit .bootstrap-select {
    width: 50px !important;
}

.pagination {
    margin: 0;
}

.pagination + .page-limit {
    margin-left: 10px;
}

/* TODO */
.editor-wrap {
    border: 1px solid #bbb;
    padding: 3px;
    background-color: #f8f8f8;
}

.login-pf {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1d1d1d;
}

.app-title {
    font-variant: small-caps;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* tags input */
tags-input .tags {
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

tags-input .tags .input {
    height: 20px;
}

tags-input .tags .tag-item {
    background: #00659c;
    border: none;
    border-radius: 0;
    color: white;
    padding: .2em .6em .3em;
    height: 20px;
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}

tags-input .tags .tag-item .remove-button {
    font-weight: normal;
    color: white;
}

*::-webkit-input-placeholder {
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*::-moz-placeholder {
    /* FF 19+ */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font: 12px "Open Sans",Helvetica,Arial,sans-serif;
}

div.ui-select-match.btn-default-focus {
    outline: none;
}

input.ui-select-search {
    width: 100% !important;
}

span.ui-select-placeholder {
    font-weight: normal;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
    font-style: normal;
}

.has-error.form-control-border {
    border-color: #c00;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.search-test-wrapper, .search-test-execution-wrapper {
    margin-left: -20px;
}

/* test detail */
div.panel-metrics div.panel-body, div.panel-alerts div.panel-body {
    padding: 0;
}

div.panel-metrics div.panel-body .list-group, div.panel-alerts div.panel-body .list-group {
    border-top: none;
    margin-bottom: 0;
}

div.panel-metrics h3, div.panel-alerts h3 {
    display: inline;
}

div.panel-metrics .panel-btn-action, div.panel-alerts .panel-btn-action {
    float: right;
    margin-top: -3px;
}

div.test-detail-info {
   margin-top: 20px;
}