<div class="row header">
    <div class="col-sm-12 col-md-4">
        <h1>Test execution detail</h1>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="header-controls">
            <button class="btn btn-default" ng-click="vm.editTestExecution()">
                <span class="pficon pficon-edit" aria-hidden="true"></span> Edit
            </button>
            <button class="btn btn-default" ng-click="vm.removeTestExecution()">
                <span class="pficon pficon-delete" aria-hidden="true"></span> Remove
            </button>
        </div>
    </div>
</div>

<div class="row detail-list">
    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Name</div>
        <div class="col-xs-10 col-lg-11 item-value">{{vm.testExecution.name}}</div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Test</div>
        <div class="col-xs-10 col-lg-11 item-value">
            <a class="cursor-pointer" ui-sref="app.testDetail({id: vm.testExecution.test.id})">{{vm.testExecution.test.name}}</a>
        </div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Started</div>
        <div class="col-xs-10 col-lg-11 item-value">{{vm.testExecution.started | date: 'MMM dd, yyyy HH:mm'}}</div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Tags</div>
        <div class="col-xs-10 col-lg-11 item-value">
            <span ng-repeat="tag in vm.testExecution.tags" class="label label-info tag-label">{{tag}}</span>
        </div>
    </div>

    <div class="detail-item">
        <div class="col-xs-2 col-lg-1 item-property">Comment</div>
        <div class="col-xs-10 col-lg-11 item-value">
            <p ng-bind-html="vm.testExecution.comment"></p>
        </div>
    </div>

    <div class="detail-item detail-item-metric-value">
        <div class="col-xs-12 item-table-property">Values</div>
        <div class="col-xs-12" ng-repeat="executionValuesGroup in vm.executionValuesGroups">
            <test-execution-values-group-table-view
                    execution-values-group="executionValuesGroup"
                    metric-name="{{vm.getMetricName(executionValuesGroup.metricId)}}"
                    test-execution-id="vm.testExecution.id"
                    on-update-table="vm.updateDetail()">
            </test-execution-values-group-table-view>
        </div>
    </div>

    <div class="detail-item">
        <div class="col-xs-12 item-table-property">Parameters</div>
        <div class="col-xs-12">
            <test-execution-parameters-table-view
                    parameters="vm.testExecution.executionParameters"
                    test-execution-id="vm.testExecution.id"
                    on-update="vm.updateDetail()">
            </test-execution-parameters-table-view>
        </div>
    </div>

    <div class="detail-item">
        <div class="col-xs-12 item-table-property">Attachments</div>
        <div class="col-xs-12">
            <test-execution-attachments-table-view
                    attachments="vm.testExecution.executionAttachments"
                    test-execution-id="vm.testExecution.id"
                    on-update="vm.updateDetail()">
            </test-execution-attachments-table-view>
        </div>
    </div>
</div>