body {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 80%;
    text-align: center;
}

body {
    line-height: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
}

h2 {
    margin-top: 16px;
}

td.numvalcolumn {
    text-align: right;
}

.tags {
    margin-top: 10px;
    padding: 3px;
}

.tags .tag {
    background-color: rgb(238, 238, 238);
}

table.searchprops {
    width: 800px;
}

table.searchprops td.label {
    background-color: rgb(238, 238, 238);
    font-weight: bold;
}

table.proptable {
    width: 800px;
}

table.proptable td {
    padding: 3px;
}

table.proptable td.label {
    background-color: rgb(238, 238, 238);
    font-weight: bold;
}

.test_title {
    width: 800px;
}

.test_title a {
    float: right;
}

.topbar {
    display: block !important;
    background-color: rgb(238, 238, 238);
    height: 31px;
    margin-bottom: -31px;
}

.container {
    text-align: left;
    width: 100%;
}

#header {
    width: 980px;
    height: 31px;
    margin: 0px auto;
    padding: 6px;
}

#header #htitle {
    float: left;
}

#header #htitle h1 {
    font-size: 120%;
    font-weight: bold;
    margin-left: 6px;
}

#header #hlinks {
    float: right;
    margin: 0px 35px 0px 0px;
}

#header #hlinks a {
    text-decoration: none;
}

#header #hlinks a:hover {
    text-decoration: underline;
}

#hlinks {
    margin-right: 20px !important;
}

#content {
    width: 980px;
    margin: 0px auto;
    padding: 6px;
}

table.searchprops {
    cellpadding: 0px;
    cellspacing: 0px;
}

table.searchprops td {
    padding: 3px;
}

table.searchresults {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.searchresults .searchresultButtons {
    color: red;
}

table.searchresults .searchresultButtons a {
    text-decoration: none;
    margin-left: 4px;
}

commandbuttons {
    margin-top: 20px;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.infoMessage {
    color: green;
    font-weight: bold;
}

.metric {
    width: 800px;
}

.metric .metric_title {
    font-weight: bold;
    background: rgb(238, 238, 238);
    padding: 3px;
    margin-top: 6px;
    height: 20px;
}

.metric .metric_desc {
    padding: 3px;
}

.metric .metric_commands {
    font-weight: bold;
    background: rgb(238, 238, 238);
    float: right;
}

table.tetable {
    width: 800px;
}

table.tetable_params {
    width: 800px;
}

table.tetable_values {
    width: 800px;
}

input.button-plus {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-plus.png");
    background-position: top;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input.button-plus:hover {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-plus.png");
    background-position: bottom;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input.button-minus {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-minus.png");
    background-position: top;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input.button-minus:hover {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-minus.png");
    background-position: bottom;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input.button-edit {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-right-arrow.png");
    background-position: top;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

input.button-edit:hover {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 0;
    background-image: url("../resources/images/button-right-arrow.png");
    background-position: bottom;
    background-color: transparent;
    margin: 0;
    padding: 0;
}