<div class="row">
    <div class="col-md-6">
        <form role="form" name="testForm" ng-submit="vm.save(testForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="testName">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="testName" ng-model="vm.test.name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="testUid">Uid:</label>
                <div class="col-sm-10">
                    <input type="text" id="testUid" ng-model="vm.test.uid" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testGroup">Group:</label>
                <div class="col-sm-10">
                    <!-- ng-model="vm.test.groupId" it doesn't work with ng-model -->
                    <select combo-box id="testGroup" class="form-control">
                        <option ng-repeat="userGroup in vm.userGroups" value="{{userGroup.id}}">{{userGroup.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="testMetrics">Metrics:</label>
                <div class="col-sm-10">
                    <select select-picker ng-model="vm.test.metrics" id="testMetrics"class="form-control" multiple>
                        <option ng-repeat="metric in vm.metrics" value="{{metric}}">{{metric.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a ng-click="vm.addMetricModal()" class="btn btn-default pull-right">Create metric</a>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <div class="editor-wrap">
                        <trix-editor angular-trix ng-model="vm.test.description" class="trix-content"></trix-editor>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>