<div class="row">
    <div class="col-md-12">
        <form role="form" name="alertForm" ng-submit="vm.save(alertForm)" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="alertName">Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="alertName" name="name" ng-model="vm.alert.name" class="form-control" pr-server-validation>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="alertCondition">Condition:</label>
                <div class="col-sm-10">
                    <textarea id="alertCondition" name="condition" ng-model="vm.alert.condition" rows="4" class="form-control" pr-server-validation></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="alertMetric">Metric:</label>
                <div class="col-sm-10">
                    <ui-select name="metric" ng-model="vm.alert.metric" id="alertMetric" name="metric" title="Choose a group" pr-server-validation>
                        <ui-select-match placeholder="Select or search a metric...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="metric in vm.metrics | filter: $select.search">
                            <span ng-bind-html="metric.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="alertTags">Tags:</label>
                <div class="col-sm-10">
                    <tags-input id="alertTags" ng-model="vm.tagsObject"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="alertLinks">Links:</label>
                <div class="col-sm-10">
                    <tags-input id="alertLinks" ng-model="vm.linksObject"
                                placeholder="Add a link"
                                replace-spaces-with-dashes="false">
                    </tags-input>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <div class="editor-wrap form-control-border">
                        <trix-editor ng-if="true" angular-trix name="description" ng-model="vm.alert.description" class="trix-content" pr-server-validation></trix-editor>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary pull-right">{{vm.submitButtonText}}</button>
                </div>
            </div>
        </form>
    </div>
</div>