<table class="table table-hover table-bordered pr-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Metric</th>
            <th>Description</th>
            <th class="table-actions">
                <a ng-click="vm.addAlertAction()" class="cursor-pointer">
                    <span class="pficon-add-circle-o" aria-hidden="true"></span> New alert
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="alert in vm.alerts">
            <td>{{alert.name}}</td>
            <td>{{alert.metric.name}}</td>
            <td ng-bind-html="alert.description"></td>
            <td class="table-actions">
                <a ng-click="vm.editAlertAction(alert)" class="cursor-pointer action-link" title="Edit alert">
                    <span class="pficon-edit" aria-hidden="true"></span>Edit
                </a>
                <a ng-click="vm.removeAlertAction(alert)" class="cursor-pointer action-link" title="Remove alert">
                    <span class="pficon-delete" aria-hidden="true"></span>Delete
                </a>
            </td>
        </tr>
        <tr class="table-no-data" ng-show="!vm.alerts || vm.alerts.length == 0">
            <td colspan="4">No alerts</td>
        </tr>
    </tbody>
</table>